<html>
  <h3>Добро пожаловать на ArtChart, {{username}}!</h3>
  <p>
    Рады сообщить, что только что мы активировали ваш аккаунт.
  </p>  
  <p>
    Мы действительно рады новому гостю на нашем сайте! Помните, что мы всегда открыты для обратной связи. Если что-то не
    работает, работает неправильно или просто вам не нравится - пишите нам об этом. Ссылку на форму обратной связи всегда
    можно найти снизу, на любой странице сайта.
  </p>
  <p>
    Пожалуйста, обратите внимание на то, что ArtChart - пока совсем небольшой проект. У нас нет команды модераторов и
    сложившихся правил поведения, но мы все равно призываем пользователей воздерживаться от некрасивого поведения по
    отношению к другим пользователям в любых проявлениях, будь то спам, аггрессия без повода или что-то еще. На всякий случай,
    сообщаем, что оставляем за собой право удалять отдельные комментарии или аккаунты возмутителей спокойствия исключительно
    в целях сохранения наиболее приятной атмосферы на портале.
  </p>
</html>
