div.artist_overview {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 25px 0;
	background-color: white;
}

div.artist_wrapper {
	max-width: 800px;
	margin: 0 auto;
}

div.artist_avatar {
	float: left;
	width: 230px;
	height: 230px;
	border-radius: 125px;
	overflow: hidden;
	border: 1px rgb(40,40,40) solid;
	margin-right: 20px;
	box-sizing: border-box;
}

div.artist_avatar>a>img {
  height: 230px;
  position: relative;
}

div.artist_desc {
	float: left;
	width: calc(100% - 250px);
	font-family: 'Roboto', sans-serif;
}

div.artist_desc>a {
	float: left;
	text-decoration: none;
}

div.artist_desc>a>h3 {
	margin: 0px;
	font-size: 50px;
	font-weight: 600;
}

div.artist_desc>p {
	display: block;
	float: left;
	width: 100%;
	margin: 0px;
	font-size: 18px;
	box-sizing: border-box;
}

div.artist_overview_subscribe {
	width: 100%;
	float: left;
	margin: 10px 0;
}

p.subscribe_count {
	display: block;
	width: 60px;
	float: left;
	height: 35px;
	line-height: 35px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0px;
}

button.subscribe_btn {
	width: 150px;
	height: 35px;
	margin: 0px 0px 0px 5px;
	padding-bottom: 3px;
	font-size: 20px;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 1000px){

	div.artist_desc>p {
		font-size: 18px;
		line-height: 22px;
	}
}

@media screen and (max-width: 800px){

	div.artist_overview {
		padding: 10px;
	}

	div.artist_desc {
		width: 100%;
	}

	div.artist_avatar {
		margin: 4px;
		height: 150px;
		width: 150px;
		border-radius: 75px;
	}

	div.artist_avatar>a>img {
		height: 150px;
	}

	div.artist_desc>a>h3 {
		height: 60px;
		line-height: 60px;
		font-size: 40px;
		margin: 0px;
	}
}
