div.artwork_repr {
	float: left;
	width: 100%;
	height: 450px;
	background-color: white;
}

div.artwork_img {
	display: block;
	float: left;
	height: 100%;
	width: calc(100% - 350px);
	background-color: rgb(80,80,80);
	overflow: hidden;
}

div.artwork_img>img {
	height: 100%;
	position: relative;
	opacity: 0;
	transition: opacity 0.5s;
}

div.artwork_desc {
	float: left;
	width: 350px;
	height: 450px;
	padding-left: 10px;
	box-sizing: border-box;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

div.artwork_desc_text {
	float: left;
	width: 100%;
	height: 400px;
	padding-right: 10px;
	box-sizing: border-box;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
	color: rgb(40,40,40);
	overflow-y: auto;
}

div.artwork_desc_text>h3 {
	display: block;
	margin: 0px;
	font-size: 36px;
	width: 100%;
	line-height: 40px;
	box-sizing: border-box;
	font-weight: 600;
}

p.artwork_desc_text {
	margin: 0px;
	font-size: 20px;
}

p.artwork_date {
	color: rgb(120,120,120);
	font-size: 14px;
	font-family: 'Roboto Slab', sans-serif;
	line-height: 16px;
	margin: 0 0 5px 0;
}

button.publication_delete {
	color: rgb(120,120,120);
	margin: 0px;
	padding: 0px;
	border: none;
	background: inherit;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
}

/*===============================================*/
/* TAGS -----------------------------------------*/
/*===============================================*/

div.tags {
	margin-top: 5px;
	float: left;
	width: 100%;
}

h5.tags_header {
	display: block;
	font-size: 20px;
	margin: 0px;
	float: left;
}

p.no_tags_label {
	display: block;
	float: left;
	margin: 0 0 0 5px;
	color: rgb(120,120,120);
	font-style: italic;
	font-family: 'Oswald', sans-serif;
}

a.tag {
	display: block;
	float: left;
	background-color: rgb(200,200,200);
	padding: 0 4px;
	margin: 0 0 2px 4px;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: black;
}

/*===============================================*/
/* COMMENTS -------------------------------------*/
/*===============================================*/

div.comments {
	margin-top: 3px;
	float: left;
	width: 100%;
}

h5.comments_header {
	display: block;
	font-size: 20px;
	margin: 0px;
	float: left;
	width: 100%;
}

div.comment_form {
	margin-top: 10px;
	width: 100%;
	float: left;
}

div.comment_form>textarea {
	width: calc(100% - 58px);
	height: 60px;
	box-sizing: border-box;
	border: 1px solid black;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	resize: none;
	float: left;
}

div.comment_form>button {
	width: 50px;
	height: 60px;
	line-height: 0px;
	background-color: inherit;
	border: 1px solid black;
	cursor: pointer;
	outline: none;
	float: left;
	margin-left: 8px;
}

div.comment_form>button>img {
	width: 30px;
	height: 30px;
}

div.comment_form>button:hover {
	background-color: rgb(200,200,200);
	box-shadow: -4px 4px 0 0 rgb(200,200,200), inset -3px 3px 0 0 white;
}

div.comment_container {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div.comment_data {
	float: left;
	width: 100%;
	line-height: 24px;
}

div.comment_data>h6 {
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto Slab', sans-serif;
	float: left;
}

button.comment_delete {
	margin: 0px 0px 0px 5px;
	padding: 0px;
	float: right;
	border: none;
	outline: none;
	background-color: inherit;
	font-size: 12px;
	font-family: 'Roboto Slab', sans-serif;
	text-decoration: underline;
	line-height: 24px;
	color: rgb(80,80,80);
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s;
}

p.comment_text {
	margin: 0px;
	font-size: 17px;
	line-height: 20px;
	float: left;
	width: 100%;
	padding: 5px;
	background-color: rgb(200,200,200);
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

p.comment_datetime {
	margin: 0px;
	font-size: 14px;
	float: left;
	color: rgb(120,120,120);
	line-height: 16px;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 1000px){

	div.artwork_repr {
		height: 400px;
	}

	div.artwork_img {
		height: 400px;
		width: calc(100% - 270px);
	}

	div.artwork_desc {
		width: 270px;
	}

	div.artwork_desc_text {
		height: 350px;
		font-size: 18px;
		line-height: 22px;
	}
}

@media screen and (max-width: 800px){

	div.artwork_repr {
		height: auto;
	}

	div.artwork_img {
		padding: 0px;
		width: 100%;
	}

	div.artwork_desc {
		width: 100%;
		height: auto;
	}

	div.painting_name {
		height: 60px;
		line-height: 60px;
	}

	div.artwork_desc_text {
		height: auto;
		margin-right: 0px;
	}
}

@media screen and (max-width: 600px){

	div.artwork_img {
		height: 300px;
	}
}
