body {
	margin: 0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

div.bounded_wrapper {
	max-width: 1200px;
	margin: 0px auto;
}

div.min_height {
	min-height: 350px;
}

.fl_left {
	float: left;
}

button, input, select, textarea {
	outline: none;
	cursor: pointer;
	font-size: inherit;
	background-color: inherit;
}

a {
	text-decoration: none;
}

a, button, input, textarea, body {
	color: rgb(40,40,40);
}

h1.section_header {
	display: block;
	width: 100%;
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: 54px;
	margin: 0px;
	font-weight: normal;
	padding: 0 10px;
	box-sizing: border-box;
	line-height: 64px;
	overflow: hidden;
}

h1.light_header {
	float: left;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	font-weight: 600;
	color: rgb(140,140,140);
	margin: 10px 0 0 0;
	border-bottom: 3px solid rgb(140,140,140);
	overflow: hidden;
}

.transparent_btn {
	border: 1px solid black;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
	transition: all 0.3s;
}

.transparent_btn:hover {
	background-color: #6bb4bf;
	box-shadow: -4px 4px 0 0 #6bb4bf, inset -3px 3px 0 0 white;
}

.hover_accent:hover {
	color: #6bb4bf;
}

.hover_accent_dark:hover {
	color: #006270;
}

.bg_accent {
	background-color: #2f9dad;
}

.no_decor {
	border: none;
	background: inherit;
}

.image_bg {
	background-position: center;
	background-size: 100% auto;
	transition: 0.3s all;
	position: relative; /* for image loading label positioning */
}

div.shadow_layer {
  background-color: rgba(40, 40, 40, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

a.disabled {
	pointer-events: none;
}

p.symbols_left_label {
	margin: 0;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: rgb(120,120,120);
	float: left;
	width: 100%;
	line-height: 16px;
	height: 17px;
	transition: opacity 0.5s;
}

p.image_loading_label {
	text-align: center;
	margin: 0;
	position: absolute;
	color: rgb(200,200,200);
	text-decoration: none;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 12px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hide {
	opacity: 0;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 600px){

	h1.section_header {
		font-size: 40px;
		line-height: 60px;
	}

	h1.light_header {
		font-size: 38px;
	}

}
