body {
	margin: 0px;
	background-color: rgb(220,220,220);
	height: 100%;
}

div.bounded_wrapper {
	max-width: 1200px;
	margin: 0px auto;
}

div.min_height {
	min-height: 350px;
}

button, input {
	outline: none;
}

.transparent_btn {
	background-color: inherit;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
}

.transparent_btn:hover {
	background-color: rgb(200,200,200);
	box-shadow: -4px 4px 0 0 rgb(200,200,200), inset -3px 3px 0 0 white;
}

p.symbols_left_label {
	margin: 0;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;
	color: rgb(120,120,120);
	float: left;
	width: 100%;
	line-height: 16px;
	transition: opacity 0.5s;
}

p.image_loading_label {
	text-align: center;
	margin: 0;
	position: absolute;
	color: rgb(200,200,200);
	text-decoration: none;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 12px;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
}

.hide {
	opacity: 0;
}
