body {
	margin: 0;
	color: rgb(40,40,40);
	background-color: white;
}

div.bounded_wrapper {
	max-width: 1200px;
	margin: 0px auto;
}

div.min_height {
	min-height: 350px;
}

button, input, select {
	outline: none;
}

a, button, input, textarea {
	color: rgb(40,40,40);
}

h1.section_header {
	display: block;
	width: 100%;
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	margin: 0px;
	font-weight: normal;
	padding: 0 10px;
	box-sizing: border-box;
}

.transparent_btn {
	background-color: inherit;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
	transition: all 0.3s;
}

.transparent_btn:hover {
	background-color: #6bb4bf;
	box-shadow: -4px 4px 0 0 #6bb4bf, inset -3px 3px 0 0 white;
}

.hover_accent:hover {
	color: #6bb4bf;
}

.hover_accent_dark:hover {
	color: #006270;
}

a.disabled {
	pointer-events: none;
}

p.symbols_left_label {
	margin: 0;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;
	color: rgb(120,120,120);
	float: left;
	width: 100%;
	line-height: 16px;
	transition: opacity 0.5s;
}

p.image_loading_label {
	text-align: center;
	margin: 0;
	position: absolute;
	color: rgb(200,200,200);
	text-decoration: none;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 12px;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
}

.hide {
	opacity: 0;
}
