div.content_collection {
  float: left;
  width: 100%;
  overflow-wrap: break-word;
	word-wrap: break-word;
}

div.content_collection>h1 {
	display: block;
	width: 100%;
	float: left;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	margin: 0px;
  font-weight: 400;
}

div.content_block {
	width: 33.33%;
	float: left;
	height: 350px;
	padding: 5px;
	box-sizing: border-box;
}

/*===============================================*/
/* ARTWORK BLOCK --------------------------------*/
/*===============================================*/

a.artwork_item_image {
	display: block;
	width: 100%;
	height: 260px;
	float: left;
  background: rgb(100,100,100);
	overflow: hidden;
  box-sizing: border-box;
  position: relative; /* for image loading label positioning */
}

a.artwork_item_image>img {
	height: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s;
}

div.item_artwork_desc {
	width: 100%;
  height: 80px;
	float: left;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
  background-color: rgb(40,40,40);
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

a.content_item_name {
  font-size: 26px;
  font-weight: 400;
  margin: 0px;
  color: white;
  text-decoration: none;
  height: 30px;
  overflow: hidden;
  display: block;
}

div.content_item_info {
	width: 100%;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
  float: left;
  color: rgb(180,180,180);
  margin-top: 8px;
  line-height: 20px;
}

a.item_artwork_author_href {
	float: left;
	color: inherit;
	text-decoration: none;
	font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

div.content_item_social {
  float: right;
  margin-left: 10px;
}

div.content_item_social>img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}

p.social_count {
  font-size: 18px;
  margin: 0px;
  float: left;
}

/*===============================================*/
/* CREATE BLOCK ---------------------------------*/
/*===============================================*/

div.content_item_create {
	float: left;
	padding: 10px;
	box-sizing: border-box;
	background-color: rgb(120,120,120);
	font-family: 'Oswald', 'sans-serif';
	color: white;
  height: 100%;
}

div.content_item_create>p {
	font-size: 40px;
	line-height: 50px;
	margin: 0 50 0 0;
	display: inline-block;
	min-height: 100px;
}

div.content_item_create>a {
	line-height: 50px;
	display: block;
	width: 100%;
	font-size: 30px;
	color: white;
}

/*===============================================*/
/* LOAD BLOCK -----------------------------------*/
/*===============================================*/

div.load_more {
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

div.load_more>button {
  width: 100%;
  height: 100%;
  font-size: 32px;
}

/*===============================================*/
/* EMPTY LABEL ----------------------------------*/
/*===============================================*/

div.empty_label {
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 25px;
  font-family: Oswald;
  font-style: italic;
  color: rgb(180,180,180);
  float: left;
}

div.empty_label>p {
  margin: 0px;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 1000px){
	div.content_block {
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	div.content_block {
		width: 100%;
	}

  div.load_more {
    height: 200px;
  }
}
