/* ========== FOOTER ========== */
div.footer {
	width: 100%;
	float: left;
	background: black;
	color: rgb(120,120,120);
	text-align: center;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	padding: 10px 0;
}

a.footer_link {
	color: rgb(140,140,140);
	font-weight: bold;
}
