div.info_msg {
	float: left;
	width: 100%;
	background-color: white;
	padding: 12px 5px;
	box-sizing: border-box;
}

div.info_msg_content {
	max-width: 800px;
	margin: 0 auto;
}

h3.info_msg_header {
	float: left;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: 600;
	color: rgb(140,140,140);
	margin: 0;
	border-bottom: 4px solid rgb(140,140,140);
}

p.info_msg_text {
	float: left;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 28px 0;
}

a.info_msg_link {
	float: left;
	clear: left;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 18px;
	color: black;
}
