div.info_msg {
	float: left;
	width: 100%;
	padding: 0 5px 12px 5px;
	box-sizing: border-box;
}

div.info_msg_content {
	max-width: 800px;
	margin: 0 auto;
}

p.info_msg_text {
	float: left;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 28px 0;
}

a.info_msg_link {
	float: left;
	clear: left;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
