div.info_msg {
	float: left;
	width: 100%;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	min-height: 300px;
}

h3.info_msg_header {
	float: left;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: rgb(120,120,120);
	margin: 0px 0px 10px 0px;
	line-height: 60px;
}

p.info_msg_text {
	float: left;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin: 0px 0px 10px 0px;
}

a.info_msg_link {
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-style: italic;
	text-decoration: none;
	color: white;
	background-color: black;
	margin-top: 10px;
	padding: 5px;
}

a.info_msg_link:hover {
	color: rgb(120,120,120);
}
