div.header {
	width: 100%;
	float: left;
	background-color: rgb(40,40,40);
}

div.header_logo {
	width: calc(100% - 150px);
	height: 100px;
	float: left;
	line-height: 150px;
	font-family: "Oswald", sans-serif;
	font-size: 40px;
	color: white;
}

div.header_logo>a {
	color: rgb(40,40,40);
	text-decoration: none;
	float: left;
}

h1.logo {
	margin: 27px 0 0 0;
	padding: 0px;
	color: white;
	height: 73px;
	line-height: 73px;
	font-weight: normal;
}

div.header_user_info {
	width: 150px;
	height: 100px;
	float: right;
	text-align: right;
	padding: 6px 10px 0 0;
	box-sizing: border-box;
	color: rgb(120,120,120);
}

p.user_info_label {
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	margin: 0px;
}

p.user_info_name {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	margin: 0px;
}

a.user_info_href {
	font-family: "Roboto Slab", sans-serif;
	font-size: 14px;
	margin-bottom: 0px;
	color: rgb(120,120,120);
	margin-top: 0px;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 800px){
	div.header_logo {
		width: calc(100% - 130px);
	}

	div.header_user_info {
		width: 130px;
	}

	p.user_info_label {
		font-size: 12px;
	}

	p.user_info_name {
		font-size: 14px;
	}

	a.user_info_logout {
		font-size: 12px;
	}

	a.user_info_href {
		font-size: 12px;
	}

}
