div.menu {
	background-color: black;
	width: 100%;
	float: left;
	text-align: center;
	vertical-align: middle;
}

div.menu>ul {
	padding: 0px;
	display: block;
}

div.menu>ul>li {
	display: inline;
}

a.menu_item {
	display: inline-block;
	width: 190px;
	height: 60px;
	color: rgb(120,120,120);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	border: 2px solid rgb(120,120,120);
	margin: 0px 10px;
	text-align: left;
	padding-left: 5px;
	font-family: 'Oswald', sans-serif;
}

a.menu_item:hover {
	border: 2px solid white;
	color: white;
	box-shadow: -2px 2px 0px 0px black, inset -2px 2px 0px 0px black, -4px 4px 0px 0px rgb(80,80,80), inset -4px 4px 0px 0px rgb(80,80,80);
	text-shadow: -4px 4px 0px rgb(80,80,80);
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 1200px){

	a.menu_item {
		width: 160px;
	}
}

@media screen and (max-width: 1000px){

	a.menu_item {
		width: 130px;
		margin: 0px 5px;
	}
}

@media screen and (max-width: 800px){

	div.menu>ul>li {
		display: block;
	}

	a.menu_item {
		width: 80%;
		height: 50px;
	}

	a.menu_item:hover {
		border: 2px solid white;
		color: white;
		box-shadow: none;
		text-shadow: none;
	}
}
