div.menu {
	width: 100%;
	float: left;
	border-bottom: 2px solid rgb(200,200,200);
	padding: 12px 0;
}

ul.navbar_ul {
	margin: 0;
	padding: 0 0 0 10px;
	display: inline-block;
	max-width: 70%;
}

li.navbar_li {
	display: inline;
	line-height: 36px;
}

a.menu_item {
	display: inline-block;
	color: rgb(120,120,120);
	text-decoration: none;

	font-size: 22px;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	transition: all 0.3s;
	margin: 0 30px 0 0;
	border-bottom: 2px solid white;
}

a.menu_item.disabled {
	color: black;
	border-bottom: 2px solid black;
}

a.menu_item:hover {
 border-bottom: 2px solid black;
 color: black;
}

div.user_menu {
	float: right;
	line-height: 40px;
	padding-right: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: rgb(120,120,120);
}

p.user_menu_username {
	display: inline;
}

.user_menu_home {
	background-image: url('../../icons/grey home.png');
}

.user_menu_home:hover, .user_menu_home.disabled {
	background-image: url('../../icons/home.png');
}

.user_menu_settings {
	background-image: url('../../icons/grey settings.png');
}

.user_menu_settings:hover, .user_menu_settings.disabled {
	background-image: url('../../icons/settings.png');
}

.user_menu_logout {
	background-image: url('../../icons/grey logout.png');
}

.user_menu_logout:hover {
	background-image: url('../../icons/logout.png');
}

.user_menu_item {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 10px;
	width: 26px;
	height: 26px;
	background-size: 100% 100%;
	transition: all 0.3s;
}

a.user_menu_link {
	color: inherit;
	margin-left: 10px;
	text-decoration: none;
	transition: all 0.3s;
}

a.user_menu_link:hover {
	color: black;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 1000px){

	/* a.menu_item {
		width: 220px;
	} */
}

@media screen and (max-width: 800px){

	/* li.navbar_li {
		display: block;
	}

	a.menu_item {
		width: 80%;
	} */

	/* a.menu_item:hover {
		border: 2px solid white;
		color: white;
		box-shadow: none;
		text-shadow: none;
	} */
}
