div.desc_container {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	background-color: white;
}

div.desc {
	width: 100%;
	font-size: 18px;
	font-family: 'Roboto Slab', sans-serif;
	text-align: center;
	padding: 20px 70px;
	box-sizing: border-box;
	border: 1px solid black;
}

div.desc>p {
	line-height: 32px;
	vertical-align: middle;
	display: inline-block;
	max-width: 1100px;
	margin: 0;
}

/*===============================================*/
/*-------------------- MEDIA --------------------*/
/*===============================================*/

@media screen and (max-width: 1000px){
	div.desc {
		font-size: 16px;
	}
}

@media screen and (max-width: 800px){
	div.desc {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px){
	div.desc {
		padding: 10px;
	}
}
