div.desc_container {
	float: left;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
}

div.desc {
	width: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}

div.desc>img {
	width: 180px;
	height: 180px;
	float: left;
}

div.desc>p {
	line-height: 30px;
	margin: 40px 40px 40px 0;
	float: right;
	padding-left: 20px;
	width: calc(100% - 260px);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border-left: 3px solid rgb(40,40,40);
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 800px){
	div.desc {
		font-size: 16px;
	}
}

@media screen and (max-width: 600px){
	div.desc>img {
		height: 140px;
		width: 140px;
	}

	div.desc>p {
		width: 100%;
		padding: 10px;
		border: none;
		margin: 0;
	}
}
