div.strip_gallery_wrapper {
	width: 100%;
	float: left;
	padding: 0px;
	border-top: 2px solid rgb(200,200,200);
}

div.strip_gallery {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 10px auto;
	padding: 0 5px;
	box-sizing: border-box;
	overflow: hidden;
}

div.strip_gallery>h1 {
	display: block;
	width: 100%;
	float: left;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-size: 44px;
	margin: 0 0 0 5px;
}

div.content_block {
	width: 33.33%;
	float: left;
	height: 350px;
	padding: 5px;
	box-sizing: border-box;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 1000px){

	div.strip_gallery_item_artwork {
		width: 50%;
	}

	div.sg_last {
		display: none;
	}

}

@media screen and (max-width: 600px){

	div.strip_gallery_item_artwork {
		width: 100%;
	}

	div.sg_last {
		display: block;
	}

}
