{% extends "main/wrapper.html" %}

{% block styles %}
	{% load static %}

	<link href="{% static 'create_post/styles/create post.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{% load static %}

	<link href="{% static 'create_post/scripts/create form.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

{% include "main/includes/header.html" %}
{% include "main/includes/menu.html" %}

<div class="bounded_wrapper">

	<div class="creating_form">
		<form method="post" action="{% url 'new-artwork' %}" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="creating_form_field">
				<div class="creating_form_label">
					<h3>Название</h3>
				</div>
				<div class="creating_form_input">
					{{form.name}}
				</div>
			</div>

			<div class="creating_form_field">
				<div class="creating_form_label">
					<h3>Описание</h3>
				</div>
				<div class="creating_form_input">
					{{form.desc}}
				</div>
			</div>

			<div class="creating_form_field">
				<div class="creating_form_label">
					<h3>Загрузите фотографию</h3>
				</div>
				<div class="creating_form_input">
					{{form.image}}
				</div>
			</div>

			<div class="creating_form_field">
				<div class="creating_form_label">
					<h3>Теги через запятую</h3>
				</div>
				<div class="creating_form_input">
					{{form.tag_set}}
				</div>
			</div>

			<div class="creating_form_field">
					<input type="submit" value="Создать работу" class="creating_form_submit_btn" />
			</div>

		</form>
	</div>

</div><!-- bounded_wrapper -->

{% include "main/includes/footer.html" %}

{% endblock %}
