button, input {
	outline: none;
}

div.page {
	text-align: center;
	line-height: 100vh;
}

div.container {
	display: inline-block;
	line-height: 20px;
	width: 345px;
}

h1.login_header {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: normal;
}

form.login_form {
	margin: 0 auto;
}

form.login_form>table {
	width: 100%;
	border-collapse: collapse;
}

td.login_label {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: right;
	vertical-align: top;
	width: 65px;
}

td.login_input>input {
	width: 100%;
	height: 28px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	padding-left: 2px;
	background-color: inherit;
}

td.login_input>input::placeholder {
	color: rgb(120,120,120);
}

td.login_input>textarea {
	padding: 2px 4px;
	margin-top: 2px;
	font-family:'Roboto', sans-serif;
	font-size: 16px;
	border: 1px solid black;
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
	background-color: inherit;
}

td.login_data {
	font-family: 'Oswald', sans-serif;
	text-align: left;
	font-size: 20px;
	padding-left: 2px;
}

input.submit_btn {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	width: 180px;
	height: 28px;
	padding: 0px;
	border: 1px solid black;
	background-color: inherit;
	cursor: pointer;
	margin: 20px auto;
}

input.submit_btn:hover {
	background-color: rgb(200,200,200);
	box-shadow: -4px 4px 0 0 rgb(200,200,200), inset -3px 3px 0 0 white;
}

a.help_link {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;
	color: rgb(120,120,120);
	width: 100%;
	display: block;
}

a.help_link:hover {
	color: black;
}

p.login_warning {
	font-family: 'Roboto Slab', sans-serif;
	background-color: rgb(100,100,100);
	color: white;
	padding: 5px;
	width: 100%;
	margin: 2px auto;
	box-sizing: border-box;
}

p.symbols_left_label {
	margin: 0;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;
	color: rgb(120,120,120);
	float: left;
	width: 100%;
	line-height: 16px;
}

textarea, input {
	outline: none;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 600px){

	div.container {
		width: 250px;
	}

}
