<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
<head>
    <title>artist registration</title>

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'fav.png' %}" />
    <link href="{% static 'login/login.css' %}" type="text/css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto|Roboto+Slab&subset=cyrillic-ext" rel="stylesheet" />
</head>

<body>
<div class="page">

    <div class="container">

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class = "login_warning">{{error}}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <h1 class="login_header">Регистрация художника</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="login_label">Имя:</td>
                    <td class="login_data">{{request.user.username}}</td>
                </tr>
                <tr>
                    <td class="login_label">Фотография</td>
                    <td class="login_input">{{form.avatar}}</td>
                </tr>
                <tr>
                    <td class="login_label">Напишите о себе</td>
                    <td class="login_input">{{form.desc}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="submit_btn" type="submit" name="submit" value="Отправить" /></td>
                </tr>
            </table>
        </form>

        <a class="help_link" href="{% url 'index' %}">На главную</a>

    </div>

</div>
</body>

</html>
