<div class="bounded_wrapper">
	<div class="artist_overview">

		<div class="artist_wrapper">
			<div class="artist_avatar">
				<a href="{% url 'artist' pk=profile.user.pk %}" {% if page == 'artist' %}class="disabled"{% endif %}>
					<p class="image_loading_label">Загружаю картинку, подождите...</p>
					{% if profile.avatar %}
						<img src="{{profile.avatar.url}}" alt="{{profile.user.username}}" onload="on_avatar_load(this);" />
					{% else %}
						{% load static %}
						<img src="{% static 'icons/default avatar.png' %}" alt="{{profile.user.username}}" onload="on_avatar_load(this);" />
					{% endif %}
				</a>
			</div><!-- artist_avatar -->

			<div class="artist_desc">

				<a href="{% url 'artist' pk=profile.user.pk %}" {% if page == 'artist' %}class="disabled"{% endif %}>
					<h3>{{profile.user.username}}</h3>
				</a>

				<div class="artist_overview_subscribe">
					<p class="subscribe_count" id="subs_count_{{profile.pk}}">{{profile.subscribers.count}}</p>
					{% load main_tags %}
					<button
						class="subscribe_btn transparent_btn"
						id="subs_btn_{{profile.pk}}"
						data-pk={{profile.pk}}
						{% if not request.user.is_authenticated %}
							onclick="not_auth_alert($(this));"
						{% elif request.user == profile.user %}
							onclick="self_sub_alert($(this));"
						{% else %}
							onclick="submit_send($(this));"
						{% endif %}>{{profile|subscribe_btn_text:request.user}}</button>
				</div>

				<p>
					{% if page == 'artist' and user == request.user %}
						<button class="edit_profile_desc icon_btn"></button>
					{% endif %}
					{% if profile.desc %}
						{{profile.desc}}
					{% else %}
						Этот пользователь пока ничего о себе не написал :(
					{% endif %}
				</p>

				<div class="artist_stats">
					<p>С нами с {{profile.user.date_joined|date:"j E Y"}}</p>
					<p>|</p>
					<p>публикаций: {{profile.publication_set.count}}</p>
				</div>

			</div><!-- artist_desc -->
		</div><!-- artist_wrapper -->

	</div><!-- artist_overview -->
</div><!-- bounded_wrapper -->
