<div class="bounded_wrapper">
	{% if content_header %}
		<h1 class="section_header">
			{{content_header}}
			{% if create_publication %}
				<a href="{% url 'new artwork' %}" class="add_artwork">
					{% load static %}
					<img src="{% static 'icons/add artwork.png' %}">
				</a>
			{% endif %}
		</h1>
	{% endif %}

	<div class="content_collection">
		{% for publication in publications %}

			{% if publication.artwork %}
				{% include "main/includes/content item artwork.html" with artwork=publication.artwork %}
			{% elif publication.article %}
				{% include "main/includes/content item article.html" with article=publication.article %}
			{% endif %}

		{% empty %}

			<div class="empty_label">
				<p>Здесь пока ничего нет</p>
			</div>

		{% endfor %}

		{% if infinite and publications %}
			<div class="load_more content_block">
				<button
					class="load_more_btn transparent_btn"
					data-timestamp="{{timestamp}}"
					data-url="{{load_content_url}}"
					data-cnt_selector="div.content_item_artwork">
					Показать больше
				</button>
			</div>
		{% endif %}

	</div><!-- content_collection -->
</div><!-- bounded_wrapper -->
