	<div class="menu">
		<div class="bounded_wrapper">
			<ul class="navbar_ul navbar_item">
				<li class="navbar_li">
					<a class="menu_item {% if page == 'category 1' %}disabled{% endif %}" href="{% url 'category' pk=1 %}">картины</a>
				</li>
				<li class="navbar_li">
					<a class="menu_item {% if page == 'category 2' %}disabled{% endif %}" href="{% url 'category' pk=2 %}">фотографии</a>
				</li>
				<li class="navbar_li">
					<a class="menu_item {% if page == 'category 3' %}disabled{% endif %}" href="{% url 'category' pk=3 %}">цифровое</a>
				</li>
				<li class="navbar_li">
					<a class="menu_item {% if page == 'artists' %}disabled{% endif %}" href="{% url 'artists' %}">сообщество</a>
				</li>
				<li class="navbar_li">
					<a class="menu_item {% if page == 'feed' %}disabled{% endif %}" href="{% url 'feed' %}">
						лента
						{% if request.user.newinfeed.publications.count %}
							<div class="new_in_feed_label bg_accent"></div>
						{% endif %}
					</a>
				</li>
			</ul>

			{% load static %}

			<div class="dropdown_btn navbar_item">
				<button class="dropdown" onclick="dropdown(this);"></button>
			</div>

			<div class="user_menu navbar_item">

				{% if request.user.is_authenticated %}

					<p class="user_menu_username">{{request.user.username}}</p>

					<div class="notifications_container">

						<button
							class="user_menu_item user_menu_notifications"
							onclick="notifications(this);"></button>

						{% if request.user.webnotification_set.count %}
							<p class="user_notifications_count bg_accent">{{request.user.webnotification_set.count}}</p>
						{% endif %}

						<div class="notifications_list">

							<div class="notifications_scroll_container">
								{% for notification in request.user.webnotification_set.all %}
									{% if notification.commentwebnotification %}

										<div class="notification_item">
											<p>
												комментарий
												<a href="{% url 'artist' pk=notification.commentwebnotification.comment.author.pk %}"
													class="hover_accent_dark">
													{{notification.commentwebnotification.comment.author.username}}</a> к
												<a href="{% url 'artwork' pk=notification.commentwebnotification.comment.publication.artwork.pk %}"
													class="hover_accent_dark">
													{{notification.commentwebnotification.comment.publication.name}}</a>:
											</p>
											<div class="comment_cite">
												<div class="comment_cite_icon">
													<img src="{% static 'icons/quotes.png' %}"/>
												</div>
												<cite>
													{{notification.commentwebnotification.comment.text}}
												</cite>
											</div><!-- comment_cite -->
										</div><!-- notification_item -->

									{% elif notification.replywebnotification %}

									<div class="notification_item">
										<p>
											ответ
											<a href="{% url 'artist' pk=notification.replywebnotification.reply.author.pk %}"
												class="hover_accent_dark">
												{{notification.replywebnotification.reply.author.username}}</a> на ваш комментарий к
											<a href="{% url 'artwork' pk=notification.replywebnotification.reply.comment.publication.artwork.pk %}"
												class="hover_accent_dark">
												{{notification.replywebnotification.reply.comment.publication.name}}</a>:
										</p>
										<div class="comment_cite">
											<div class="comment_cite_icon">
												<img src="{% static 'icons/quotes.png' %}"/>
											</div>
											<cite>
												{{notification.replywebnotification.reply.text}}
											</cite>
										</div><!-- comment_cite -->
									</div><!-- notification_item -->

									{% elif notification.subscriberwebnotification %}

										<div class="notification_item">
											<p>
												<a href="{% url 'artist' pk=notification.subscriberwebnotification.subscriber.pk %}"
													class="hover_accent_dark">
													{{notification.subscriberwebnotification.subscriber.username}}
												</a>
												подписался на ваши публикации
										</div>

									{% elif notification.likeswebnotification %}

										<div class="notification_item">
											<p>
												{% for user in notification.likeswebnotification.likes.all|slice:":3" %}
													<a href="{% url 'artist' pk=user.pk %}"
														class="hover_accent_dark">
														{{user.username}}{% if not forloop.last %},{% endif %}
													</a>
												{% endfor %}
												{% if notification.likeswebnotification.likes.count > 3 %}
													и еще {{notification.likeswebnotification.likes.count|add:'-3'}}
												{% endif %}
												нравится публикация
												<a href="{% url 'artwork' pk=notification.likeswebnotification.publication.pk %}"
													class="hover_accent_dark">
													{{notification.likeswebnotification.publication.name}}
												</a>
											</p>
										</div>

									{% endif %}

								{% empty %}

									<div class="notification_empty_label">
										<p>Нет новых уведомлений</p>
									</div>

								{% endfor %}
							</div><!-- notifications_scroll_container -->

							{% if request.user.webnotification_set.count %}
								<button class="no_decor remove_notifications_btn" onclick="clear_notifications(this);" data-url="{% url 'clear notifications' %}">
									Убрать все
								</button>
							{% endif %}

						</div><!-- notifications_list -->

					</div><!-- notifications_container -->

					<a href="{% url 'artist' pk=request.user.pk %}"
						class="user_menu_item user_menu_home {% if page == 'artist' and user == request.user %}disabled{% endif %}"></a>
					<a href="{% url 'settings' %}"
						class="user_menu_item user_menu_settings hover_accent {% if page == 'settings' %}disabled{% endif %}"></a>
					<button class="user_menu_item user_menu_logout logout_btn" data-url="{% url 'logout' %}" onclick="logout(this);" value="" />

				{% else %}

					<a href="{% url 'login' %}" class="user_menu_link">Войти</a>
					<a href="{% url 'register' %}" class="user_menu_link">Регистрация</a>

				{% endif %}

			</div><!-- user_info -->
		</div><!-- bounded_wrapper -->
	</div><!-- menu -->
