{% extends "main/wrapper.html" %}

{% block styles %}
	{% load static %}

	<link href="{% static 'main/styles/artist overview.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'main/styles/artwork.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'main/styles/publication.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'main/styles/strip gallery.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{% load static %}

	<script src="{% static 'main/scripts/comment_effects.js' %}" type="text/javascript"></script>
	<script src="{% static 'useractions/subscription_btn.js' %}" type="text/javascript"></script>
	<script src="{% static 'useractions/like_comment.js' %}" type="text/javascript"></script>
	<script src="{% static 'useractions/publication_delete.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% include "main/includes/header.html" %}
{% include "main/includes/menu.html" %}

<div class="bounded_wrapper">

	<div class="artwork_repr">

		<div class="artwork_img">
			<img class="center" src="{{artwork.image.url}}" alt="{{artwork.name}}" onload="on_artwork_load(this)" />
		</div>

		<div class="artwork_desc">

			<div class="artwork_desc_text">

				<h3>{{artwork.name}}</h3>
				<p class="artwork_date">{{artwork.datetime}}
					{% if user == artwork.author.user %}
						<button href="{% url 'delete publication' pk=artwork.pk %}" class="publication_delete">Удалить &#128465</button>
					{% endif %}
				</p>
				<p class="artwork_desc_text">{{artwork.desc}}</p>

				<div class="tags">
					<h5 class="tags_header">Теги:</h5>

					{% for tag in artwork.tag_set.all %}
						<a class="tag" href="{% url 'tag' pk=tag.pk %}">#{{tag.name}}</a>
					{% empty %}
						<p class="no_tags_label">Теги не указаны</p>
					{% endfor %}
				</div>

				<div class="comments">
					<h5 class="comments_header">Комментарии:</h5>
					<div class="comment_form">
						<textarea rows="2" cols="20"></textarea>
						<button data-pk="{{artwork.pk}}" data-username="{{request.user.username}}"
						{% if user.is_authenticated %}
							onclick="comment_send($(this));"
						{% else %}
							onclick="not_auth_alert();"
						{% endif %}>
						комментировать
						</button>
					</div>

					{% for comment in artwork.comment_set.all %}
						{% include "main/includes/artwork comment.html" %}
					{% endfor %}
				</div>

			</div><!-- desc_text -->

			{% include "main/includes/publication likes.html" with publication=artwork %}

		</div><!-- artwork_desc -->

	</div><!-- painting_repr -->

</div><!-- bounded_wrapper -->

{% include "main/includes/strip gallery.html" with publications=related_pubs %}
{% include "main/includes/artist overview.html" with profile=artwork.author artist=artwork.author.user %}
{% include "main/includes/footer.html" %}

{% endblock %}
