{% extends "main/wrapper.html" %}

{% block styles %}
	{% load static %}

	<link href="{% static 'main/styles/form.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{% load static %}

	<script src="{% static 'main/scripts/form.js' %}" type="text/javascript"></script>
	<script src="{% static 'main/scripts/textarea_limited_length.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% include "main/page_blocks/header.html" %}
{% include "main/page_blocks/menu.html" %}

<div class="bounded_wrapper">

	<div class="form min_height">
		<form method="post" action="{{request.path}}" enctype="multipart/form-data">
			{% csrf_token %}

			{% if header %}
				<div class="form_header">
					<h2>{{header}}</h2>
				</div>
			{% endif %}

      {% for field in form %}
				<div class="form_field">
					<div class="form_label">
						<h3>{{field.label}}</h3>

						{% if field.help_text %}
							<p>{{field.help_text}}</p>
						{% endif %}
					</div>
					<div class="form_input">
						{{field}}
					</div>
				</div>
      {% endfor %}

			<div class="form_field">
				<input type="submit" value="{{submit_text}}" class="form_submit_btn transparent_btn" />
			</div>

		</form>
	</div><!-- form -->

</div><!-- bounded wrapper -->

{% include "main/page_blocks/footer.html" %}

{% endblock %}
