{% extends "main/wrapper.html" %}

{% block styles %}

	{% load static %}
	<link href="{% static 'main/styles/info message.css' %}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block content %}

{% include "main/page_blocks/header.html" %}
{% include "main/page_blocks/menu.html" %}

<div class="bounded_wrapper">
	<div class="info_msg min_height">

		<div class="info_msg_content">
			<h3 class="info_msg_header">{{msg_header}}</h3>
			<p class="info_msg_text">{{msg_text}}</p>

			{% for name, url in links.items %}
				<a class="info_msg_link hover_accent_dark" href="{{url}}">{{name}}</a>
			{% endfor %}
		</div>

	</div>
</div>

{% include "main/page_blocks/footer.html" %}

{% endblock %}
