{% extends "main/wrapper.html" %}

{% block styles %}

	{% load static %}
	<link href="{% static 'main/styles/info message.css' %}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block content %}

{% include "main/page_blocks/header.html" %}
{% include "main/page_blocks/menu.html" %}

<div class="bounded_wrapper">
	<div class="info_msg">

		<h3 class="info_msg_header">{{msg_header}}</h3>
		<p class="info_msg_text">{{msg_text}}</p>
		<a class="info_msg_link" href="main">Перейти на главную</a>

	</div>
</div>

{% include "main/page_blocks/footer.html" %}

{% endblock %}
