{% extends "main/wrapper.html" %}

{% block styles %}
	{% load static %}

	<link href="{% static 'main/styles/artist overview.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'main/styles/content.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'main/styles/site desc.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{% load static %}

	<script src="{% static 'useractions/like_comment_subscribe_btn.js' %}" type="text/javascript"></script>
	<script src="{% static 'useractions/load_content.js' %}" type="text/javascript"></script>
{% endblock %}

{% block preload %}
	<link rel="preload" href="{% static 'icons/green filled heart.png' %}" as="image" />
	<link rel="preload" href="{% static 'icons/green comments.png' %}" as="image" />
{% endblock %}

{% block content %}

{% include "main/page_blocks/header.html" %}
{% include "main/page_blocks/menu.html" %}

{% if profile %}
	{% include "main/page_blocks/artist overview.html" with profile=profile user=request.user %}
{% endif %}

{% include "main/page_blocks/content collection.html" %}
{% include "main/page_blocks/footer.html" %}

{% endblock %}
