{% extends "main/wrapper.html" %}

{% block styles %}
	{% load static %}

	<link href="{% static 'main/styles/artist overview.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'main/styles/content.css' %}" type="text/css" rel="stylesheet" />
	<link href="{% static 'main/styles/site desc.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{% load static %}

	<script src="{% static 'useractions/like_comment_subscribe_btn.js' %}" type="text/javascript"></script>
	<script src="{% static 'useractions/load_content.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{% include "main/includes/header.html" %}

{% include "main/includes/menu.html" %}

{% if site_description %}
	{% include "main/includes/site desc.html" %}
{% endif %}

{% if profile %}
	{% include "main/includes/artist overview.html" with profile=profile user=request.user %}
{% endif %}

{% include "main/includes/content collection.html" %}
{% include "main/includes/footer.html" %}

{% endblock %}
