<div class="content_item_article">

  <h5 class="item_article_label">Статья</h5>

  <div class="item_article_desc">

    <a href="{% url 'article' pk=article.pk %}"><h3>{{article.name}}</h3></a>
    <a href="{% url 'artist' pk=article.author.pk %}" class="item_artwork_author_href">{{article.author.user.username}}</a>

    <div class="short_article_desc">
      <p>{{article.desc}}</p>
    </div>

    <div class="item_article_desc">
      <p>{{article.text}}</p>
    </div>

  </div><!-- item_artwork_desc -->

  <div class="content_item_likes">
		<div class="likes_container">
			<p class="likes_label">понравилось:</p>
			<p class="likes_count">{{article.likes.count}}</p>
		</div>
	</div><!-- content_item_likes -->

</div><!-- content_item_article -->
