div.creating_form {
  background-color: white;
  float: left;
  width: 100%;
  padding-bottom: 10px;
}

div.creating_form>form {
  width: 700px;
  margin: 0px auto;
}

div.creating_form_field {
  width: 100%;
  float: left;
}

div.creating_form_input {
  width: 450px;
  float: left;
  padding-top: 10px;
}

div.creating_form_input>input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  outline: none;
  padding-left: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

div.creating_form_input>textarea {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid black;
  outline: none;
}

div.creating_form_label {
  width: 250px;
  float: left;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  color: rgb(80,80,80);
}

div.creating_form_label>h3 {
  margin: 0px 5px;
  font-size: 28px;
  box-sizing: border-box;
  color: rgb(120,120,120);
}

input.creating_form_submit_btn {
  margin: 10px 0px 0px 250px;
  width: 450px;
  background-color: inherit;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  border: 1px solid black;
  cursor: pointer;
}

input.creating_form_submit_btn:hover {
  background-color: rgb(200,200,200);
	box-shadow: -4px 4px 0 0 rgb(200,200,200), inset -3px 3px 0 0 white;
	outline: none;
}

/*===============================================*/
/* MEDIA ----------------------------------------*/
/*===============================================*/

@media screen and (max-width: 800px) {

  div.creating_form {
    padding: 5px;
    box-sizing: border-box;
  }

  div.creating_form_input {
    width: 100%;
  }

  div.creating_form_label {
    width: 100%;
    text-align: left;
  }

  div.creating_form>form {
    width: 100%;
  }

  input.creating_form_submit_btn {
    margin-left: 0px;
    width: 100%;
  }

}
